/* ==== GENERAL ==== */
* {
    margin: 0;
    box-sizing: border-box;
}
.display-4,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6
{
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: bold;
}
p,
.p
{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
}
.text-primary-800{
    color: #543012;
}
.text-primary-600{
    color: #B3611D;
}
.text-primary-500{
    color: #D48442;
}
.text-primary-300{
    color: #E2AB7F;
}
.text-primary-100{
    color: #FBD8BC;
}
.text-neutral-700{
    color: #636D7B;
}
.text-neutral-900{
    color: #1F2328;
}
.mt-section{
    margin-top: 80px;
}
.line{
    display: flex;
    margin: auto;
    width: 10.82rem;
    border: 3px solid #D48442;
}

/* ==== NavBar ==== */
.navbar{
    z-index: 9999;
}
.navbar-brand{
    color: #B3611D !important;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
}
.active{
    color: #B3611D !important;
}
.fa-instagram{
    margin-right:0.5rem;
}


/* ======= INDEX ======== */

/* ==== Hero ==== */
.hero{
    position: relative;
    height: calc(100vh - 60px);
    left: 0px;
    top: 0px;
    background: #FCF1E9;
}
/* Shape */
.hero-shape{
    position: absolute;
    z-index: 0;
    width: 83vw;
    height: 53vh;
    right: 0px;
    bottom: 0px;
    background-image: url(../../img/shape.png);
    background-repeat:no-repeat;
    background-size:contain;
    background-position: right bottom;
}
.hero-text{
    max-width: 39.65rem;
    color: #543012;
    z-index: 1;
}
.hero-img {
    z-index: 1;
}
.hero-img > img{
    border-radius: 16px;
    width: 90%;
    max-width: 55vh;
}
/* ==== Boton ir abajo ==== */
.abajo{
    background: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
    border-radius: 1.25rem;
    display: inline-block;
    font-weight: lighter;
    line-height: 2.5rem;
    text-align: center;
    width: 2.5rem;
}

/* ==== Card Productos ==== */
.producto{
    position: relative;
    min-width: 16rem;
    min-height: 16rem;
    width: calc(100vw - 32px);
    height: calc(100vw - 32px);
    border-radius: 1rem;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}
.crop {
    position: absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
}

/* ==== Card Clientes ==== */
.cliente{
    box-shadow: 0px 0px 5px rgba(116, 67, 26, 0.2);
    border-radius: 16px;
}

/*  ==== Pasos Pedido ==== */
.pasos{
    background: #FBD8BC;
    border-radius: 2.5rem;
    display: inline-block;
    font-weight: bold;
    line-height: 5rem;
    text-align: center;
    width: 5rem;
}
.p-pedido{
    padding: 4rem 0px;
}
.mt-pedido{
    margin-top: 4.5rem;
}

/* ==== Metodos de envio y de pago ==== */
.card-metodos{
    background: #F9FAFA;
    border-radius: 16px;
    width: 100%;
    height: 300px;
    max-width: 380px;
}

/* ==== Mapa Google ==== */
.mapa{
    height: 300px;
}

/* ======= PRODUCTOS ======== */

.filter{
    max-width: 5rem;
    border-radius: 8px;
    font-weight: bold;
    font-size: 0.7rem;
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 1vw;
}

.multiphoto{
    margin-top: 10px;
}
.modal{
    z-index: 10000;
}
.modal-content{
    border-radius: 16px;
}

.producto-modal{
    height: 50vh;
    background-size: cover;
    background-position:center;
}
.producto-modal-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 20px;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 0.75rem;
    border-bottom-right-radius: calc(0.3rem - 1px);
    border-bottom-left-radius: calc(0.3rem - 1px);
}
.contactar{
    width: 100%;
    height: 50px;
    border-radius: 8px;
    letter-spacing: 0.16em;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ==== QUIENES SOMOS ==== */
.img-historia{
    border-radius: 16px;
}
/* ==== MEDIA QUERIS ==== */
@media (max-width: 576px) {
    :root {
        font-size: 13px;
    }
    .hero{
        height: calc(80vh);
    }
    .hero-img > img {
        max-width: 35vh;
    }
}
@media (min-width: 576px) and (max-width: 992px) {
    :root {
        font-size: 14px;
    }
    .hero{
        height: calc(85vh);
    }
    .hero-img > img {
        max-width: 35vh;
    }
    .hero-text{
        width: 450px;
    }
    .producto{
        min-width: 15rem;
        min-height: 15rem;
        width: auto;
        height: auto;

    }
    .mt-section{
        margin-top: 112px;
    }
    .card-metodos{
        max-width: 330px;
    }
    .mapa{
        height: 480px;
    }
}
@media (min-width: 992px) and (max-width: 1200px) {
    :root {
        font-size: 15px;
    }
    .hero{
        height: calc(85vh);
    }
    .hero-img > img {
        max-width: 35vh;
    }
    .hero-text{
        width: 450px;
    }
    .producto{
        min-width: 16rem;
        min-height: 16rem;
        width: auto;
        height: auto;
    }
    .mt-section{
        margin-top: 112px;
    }
    .mapa{
        height: 600px;
    }
    .producto-modal{
        height: 60vh;
    }
}
@media (min-width: 992px){
    .producto{
        width: 16rem;
        height: 16rem;
    }
    .mt-section{
        margin-top: 184px;
    }
    .mapa{
        height: 600px;
    }
    .producto-modal{
        height: 70vh;
    }
    .navbar-brand{
        font-size: 24px;
        line-height: 28px;
    }
    .modal-content{
        border-radius: 20px;
    }
    .carousel-inner{
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    .pe-modal{
        padding-right: 2rem;
    }
    .p-pedido{
        padding: 5rem 0px;
    }
    .mt-pedido{
        margin-top: 7.5rem;
    }
}